.homey-dark-mode {
    --homey-background-color: var(--homey-color-mono-050);
}

.flow-utils-widget { 
    --theme-boxShadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.homey-widget-full-width {
    background-color: var(--homey-color-mono-025);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--homey-su-3);
}

.var-item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--homey-su-2);
    align-items: center;
    padding: var(--homey-su-2);
    border-radius: var(--homey-border-radius-default);
    background-color: var(--homey-background-color);
    /* Temp, because shadow is missing */
    box-shadow: var(--theme-boxShadow-default);
    box-sizing: border-box;
}

.homey-dark-mode .var-item {
    background-color: var(--homey-color-mono-050);
}

.var-item .key,
.var-item .value {
    width: 124px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.var-item .value {
    font-weight: var(--homey-font-weight-medium);
    font-size: var(--homey-font-size-default);
}

.type {
    width: 24px;
    height: 24px;
    border-radius: 50% 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.type:after {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='512px' height='512px' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eionicons-v5-d%3C/title%3E%3Cpath d='M218.31,340.69A16,16,0,0,0,191,352v32H171a28,28,0,0,1-28-28V152a64,64,0,1,0-64-1.16V356a92.1,92.1,0,0,0,92,92h20v32a16,16,0,0,0,27.31,11.31l64-64a16,16,0,0,0,0-22.62ZM112,64A32,32,0,1,1,80,96,32,32,0,0,1,112,64Z'/%3E%3Cpath d='M432,360.61V156a92.1,92.1,0,0,0-92-92H320V32a16,16,0,0,0-27.31-11.31l-64,64a16,16,0,0,0,0,22.62l64,64A16,16,0,0,0,320,160V128h20a28,28,0,0,1,28,28V360.61a64,64,0,1,0,64,0ZM400,448a32,32,0,1,1,32-32A32,32,0,0,1,400,448Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    width: 14px;
    height: 14px;
}

.type.string {
    background-color: #75D600;
}
.type.number {
    background-color: #2FB0FF;
}

.text-left {
    text-align: left;
}

/* @media screen and (max-width: 1024px) {
    :root {
        --homey-font-size-small: 12px;
        --homey-font-size-default: 14px;
    }

    .var-item .key,
    .var-item .value {
        width: 90px;
    }
} */